<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/oricss/original.css">
    <link href="templates/login.html">
    <link href="../project/templates/movies.html">
    <link href="../project/templates/tv.html">
    <link href="../project/templates/anime.html">
    <link href="../project/templates/list.html">
    <link href="../project/templates/register.html">
    <title>D-BLINK</title>

    <style>

    </style>
</head>

<body>
    <header>
        <nav>
            <div style="display: flex;">
                <div style="flex: 1;">
                    <ul>
                        <li><a href="../../project/templates/original.html">Home</a></li>
                        <li><a href="../project/templates/movies.html">Movies</a></li>
                        <li><a href="../project/templates/tv.html">TV Shows</a></li>
                        <li><a href="../project/templates/anime.html">Anime</a></li>
                        <li><a href="../project/templates/list.html">My List</a></li>
                    </ul>
                </div>
                <div style="flex: 1; text-align: right;">
                    <div style="float:right; width:50%;">
                        <li class="nav-item"><a class="nav-link" href="templates/login.html"
                                style="background-color: #ff0000; color: #fff; border: none; padding: 10px 20px; font-size: 18px; cursor: pointer; border-radius: 3px; transition: background-color 0.3s ease;">Log
                                Out</a></li>
                        &nbsp;&nbsp;&nbsp;

                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="interface">
            <h1>Welcome to D-BLINK</h1>
            <p>Stream Your Favorite Movies</p>
        </div>
        <form>
            <div class="search">
                <input type="text" placeholder="Search..."
                    style="color: rgb(255, 0, 0); border: 2px solid #ff0000; padding: 10px; ">
                <button type="submit">Search</button>
            </div>
            </div>
        </form>
        <div class="movies">
            <div class="movie-card">
                <img src="../images/spider.jpg" alt="Movie title">
            </div>
        </div>

    </main>
    <footer>
        <p>&copy; 2023 D-BLINK. All rights reserved.</p>
    </footer>
</body>

</html>